.tooltip-container {
  &[data-popper-placement^='top'] > .tooltip-arrow {
    bottom: -3px;
  }

  &[data-popper-placement^='bottom'] > .tooltip-arrow {
    top: -3px;
  }

  &[data-popper-placement^='left'] > .tooltip-arrow {
    right: -3px;
  }

  &[data-popper-placement^='right'] > .tooltip-arrow {
    left: -3px;
  }
}
